@font-face {
  font-family: 'League Gothic Regular';
  src: url('/fonts/league-ghotic/LeagueGothic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic Condensed';
  src: url('/fonts/league-ghotic/LeagueGothic-CondensedRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic Regular';
  src: url('/fonts/league-ghotic/LeagueGothic-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

nav.navbar {
    display: flex;
    flex-direction: column;
    /*box-shadow: 0px 5px 10px 0px;*/
}

.navbar>.container-fluid {
    display: grid !important;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}


.navbar-nav {
    font-family: 'Electrolize', sans-serif;
    gap: 30px;
}

a.btn {
    background-color: #8AD886;
    margin: 0px 10px 0px;
    border-radius: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a.btn:hover {
    background-color: #6dad69;
    transform: scale(1.05);
    box-shadow: 0 0 10px #8AD886;
}

a.btn:active {
    background-color: #6dad69 !important;
    transform: scale(1.05);
}

.presentacion {
    padding: 8%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../images/inicio/header.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    text-align: center;
    color: white;
    text-shadow: -4px 8px 2px black;
}

.presentacion h1 {
    font-family: 'League Gothic Regular', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
}

.presentacion h2 {
    font-family: 'League Gothic Regular', sans-serif;
    font-weight: 400;
    font-size: 70px;
}

.presentacion h3 {
    font-family: 'League Gothic Regular', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 55px;
    color: #8AD886;
}

.parte1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 6%;
    justify-items: center;
    align-items: center;
}